Source: sbs
Section: admin
Priority: extra
Maintainer: axel <axel@alap.dagmar.axel.de>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: sbs
Architecture: any
Depends: ${shlibs:Depends}, mail-transport-agent 
Description: Simple Batch processing system
 The S(imple) b(atch) system is an at like batch system with multiple
 queues. Every queue may be deactivated independent from each other,
 runs it batch jobs with defined nice levels and may be active only on
 parts of the day.
