Source: sbs
Section: unknown
Priority: extra
Maintainer: axel <axel@alap.dagmar.axel.de>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: sbs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
