[Unit]
Description=sbs for all queues
#ConditionPathExists=/etc/sbs/*.conf

[Service]
Type=oneshot
ExecStart=/usr/sbin/sbsd-systemd-helper start
ExecStop=/usr/sbin/sbsd-systemd-helper stop
RemainAfterExit=true

