[Unit]
Documnentation=man:sbs
SourcePath=/etc/init.d/sbs
Description=Simple batch system
Before=multi-user.target
Before=graphical.target
After=time-sync.target
After=remote-fs.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/etc/init.d/sbs start
ExecStop=/etc/init.d/sbs stop
